.burger-menu 
    ul
        li
            a(href="index.html") Главная
        li
            a(href="cart-service.html") Грузовой сервис
        li
            a(href="services.html") Услуги
        li
            a(href="prices.html") Цены
        li
            a(href="contacts.html") Контакты
        li
            a(href="about.html") О компании
        li
            a(href="") Тахографы