footer.footer 
    .footer__container.container
        .footer__col.col-footer 
            p.col-footer__address г. Курск, ул. Кирпичная, 21А
            ul.col-footer__contacts
                li
                    a(href="tel:89107401708") +7 (910) 740-17-08 
                li
                    a(href="mailto:adres@yandex.ru") adres@yandex.ru
            p.col-footer__copy &#169; 2018 ТракХелп
        .footer__col.col-footer 
            a(href="#header").col-footer__arrow-top Наверх
            p.col-footer__develop Сотворили в <a href="http://kvokka.com" target="_blank">kvokka </a>