.modal.modal--feedback
    .modal__container 
        .modal__container-order.modal-content 
            button.modal__close
                img(src="images/icons/burger-active.svg" alt="")
            h2.modal-content__title.title-inner Обратный звонок
            form.modal-content__form(action="")
                p 
                    input(type="text" placeholder="Имя")
                p
                    input(type="text" placeholder="Телефон")
                textarea(value="Комментарий")
                p.modal-content__mode Нажимая отправить, вы даете свое согласие  на обработку <a href="/">персональных данных</a>
                p.modal-content__mode
                    button(type="submit") Отправить