.legal {
    margin-bottom: 150px;
    @media (max-width: 1919px) {
        margin-bottom: 130px;
    }
    @media (max-width: 767px) {
        margin-bottom: 100px;
    }
}

.legal__title {
    margin-bottom: 40px;
    @media (max-width: 767px) {
        margin-bottom: 18px;
    }
}

.legal__container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
}

.legal__content {
    width: 50%;
    margin-left: auto;
    p {
        margin-bottom: 30px;
        line-height: 1.5;
        @media (max-width: 1919px) {
            font-size: 17px;
        }
        @media (max-width: 1365px) {
            margin-bottom: 13px;
        }
        @media (max-width: 767px) {
            font-size: 14px;
        }
    }
    @media (max-width: 767px) {
        margin-left: 0;
        width: 100%;
    }
}

.legal__gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 605px;
    height: 100%;
    background-image: url("../images/gradients/gradient2.svg");
    background-size: cover;
    @media (max-width: 1919px) {
        width: 416px;
    }
    @media(max-width: 768px) {
        width: 210px;
    }
    @media (max-width: 767px) {
        display: none;
    }
}

.legal__links {
    display: flex;
    flex-direction: column;
    a {
        font-size: 21px;
        font-weight: 500;
        color: $color-red;
        text-decoration: underline;
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
        @media (max-width: 1919px) {
            font-size: 19px;
        }
        @media (max-width: 767px) {
            font-size: 14px;
        }
    }
    @media (max-width: 767px) {
        max-width: 215px;
    }
}
