.list-advantages {
    position: relative;
    z-index: 10;
    color: $color-white;
    ul {
        display: flex;
        li {
            position: relative;
            top: -60px;
            width: calc(100% / 4);
            h3 {
                font-size: 32px;
                font-weight: 700;
                text-transform: uppercase;
                @media (max-width: 1919px) {
                    font-size: 30px;
                }
                @media (max-width: 1365px) {
                    font-size: 26px;
                }
                @media (max-width: 1023px) {
                    font-size: 22px;
                }
            }
            p {
                font-size: 21px;
                @media (max-width: 1919px) {
                    font-size: 19px;
                    line-height: 1.4;
                }
                @media (max-width: 1365px) {
                    font-size: 18px;
                }
                @media (max-width: 1023px) {
                    font-size: 17px;
                }
                @media (max-width: 767px) {
                    font-size: 14px;
                }
            }
            @media (max-width: 1023px) {
                width: calc(100% / 2);
                top: 0;
                display: flex;
                padding-bottom: 40px;
            }
            @media (max-width: 767px) {
                width: 100%;
                padding-bottom: 30px;
            }
        }
        @media (max-width: 1023px) {
            flex-wrap: wrap;
            padding: 50px 0;
            padding-bottom: 10px;
        }
        @media (max-width: 767px) {
            flex-direction: column;
            padding-bottom: 9px;
        }
    }
}

.list-advantages__wrapper {
    background-color: $color-grey;
}

.list-advantages__pic {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 122px;
    height: 122px;
    background-color: $color-white;
    border-radius: 50%;
    margin-bottom: 40px;
    img {
        object-fit: contain;
    }
    @media (max-width: 1919px) {
        width: 109px;
        height: 109px;
        margin-bottom: 26px;
    }
    @media (max-width: 1365px) {
        width: 104px;
        height: 104px;
    }
    @media (max-width: 1023px) {
        width: 89px;
        height: 89px;
        margin-right: 19px;
        margin-bottom: 0;
        padding: 24.5px;
    }
    @media (max-width: 767px) {
        width: 60px;
        height: 60px;
        padding: 12.5px;
        flex: 1 0 auto;
    }
}
