.services-main {
    padding-top: 30px;
    padding-bottom: 160px;
    @media (max-width: 1919px) {
        padding-top: 10px;
    }
    @media (max-width: 1919px) {
        padding-bottom: 130px;
    }
    @media (max-width: 1365px) {
        padding-top: 0;
        padding-bottom: 120px;
    }
    @media (max-width: 1023px) {
        padding-bottom: 100px;
    }
    @media (max-width: 767px) {
        padding-bottom: 0;
    }
}
