.slider__counter,
.slider__counter2 {
    // position: absolute;
    // bottom: 1rem;
    // left: 1rem;
    z-index: 1;
    font-size: 55px;
    // font-weight: 600;
    color: $color-red;
    pointer-events: none;
    width: 162px;
    height: 162px;
    border-radius: 50%;
    background-color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 1919px) {
        font-size: 49px;
        width: 146px;
        height: 146px;
    }
    @media (max-width: 1365px) {
        width: 114px;
        height: 114px;
    }
    @media (max-width: 1023px) {
        width: 97px;
        height: 97px;
    }
    @media (max-width: 767px) {
        border: 1px solid #d9d9d9;
        width: 54px;
        height: 54px;
        margin: 0 auto;
    }
}
