.slider-maintenance___item {
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-color: $color-white;
    margin-right: 39px;
    height: 210px;
    border: 1px solid #d9d9d9;
    @media (max-width: 1919px) {
        height: 190px;
        margin-right: 36px;
    }
    @media (max-width: 1365px) {
        height: 173px;
    }
    @media (max-width: 1023px) {
        margin-right: 23px;
        height: 138px;
    }
    @media (max-width: 767px) {
        margin-right: 10px;
        height: 114px;
        padding: 35px;
    }
}
