.wrapper-feedback {
    @media (max-width: 786px) {
        display: flex;
        &--modal {
            display: block;
            .wrapper-feedback__block {
                width: 100% !important;
            }
        }
    }
    @media (max-width: 767px) {
        flex-direction: column;
    }
}

.wrapper-feedback__block {
    &:first-child {
        margin-right: 30px;
        @media (max-width: 767px) {
            margin-right: 0;
        }
    }
    &:last-child {
        margin-left: auto;
        @media (max-width: 1023px) {
            width: 50%;
        }
        @media (max-width: 767px) {
            width: 100%;
        }
    }
}
