doctype html
html(lang="ru")
    head
        include modules/head.pug
    body

        .main-lines-wrapper.container 
            span 
            span 
            span 

        //- first-section
        .first-section.first-section--inner
            //- burger-menu
            include modules/burger-menu.pug
            //- header
            header.header#header
                .container 
                    .header__wrapper.wrapper-header 
                        include modules/main-menu.pug
                        a(href="tel:89107401708").wrapper-header__phone +7 (910) 740-17-08
                        button.wrapper-header__burger.burger 

            //- hero
            .hero 
                .container
                    h1.hero__title О компании
                    a.hero__feedback#modal-show Обратный звонок

        //- we-are
        .we-are 
            .container 
                .we-are__wrapper
                    h2.we-are__title.title-inner Мы являемся
                    p.we-are__content.content-hidden Ремонт гидроцилиндров в Москве одно из главных направлений компании ООО «АВТОТЕХСПЕЦРЕМОНТ». Мы выполняем ремонт и изготовление различных гидроцилиндров для спецтехники, как импортного так и отечественного производства (экскаваторы, погрузчики, автокраны, автопогрузчики, асфальтоукладчики, эвакуаторы, бетононасосы, краны манипуляторы), грузовых автомобилей любых марок. 
                    .we-are__down#show-more
                        img(src="images/icons/arrow-down.svg" alt="")
                    p.we-are__strong-text Главной задачей при производстве или ремонте, является качество конечной продукции.
            .we-are__gradient

        //- advantages
        .advantages 
            .advantages__list.list-advantages
                .list-advantages__wrapper
                    .container 
                        ul
                            li.list-advantages__item.item-advantages
                                .list-advantages__pic
                                    img(src="images/icons/advantages/item1.svg" alt="")
                                .item-advantages.item-advantages__content
                                    h3 Первый
                                    p эвакуатор в городе Курске
                            li.list-advantages__item.item-advantages
                                .list-advantages__pic
                                    img(src="images/icons/advantages/item2.svg" alt="")
                                .item-advantages.item-advantages__content
                                    h3 С 2005
                                    p года ведем свою деятельнсть
                            li.list-advantages__item.item-advantages
                                .list-advantages__pic
                                    img(src="images/icons/advantages/item3.svg" alt="")
                                .item-advantages.item-advantages__content
                                    h3 Качество
                                    p всегда ведем свою деятельность
                            li.list-advantages__item.item-advantages
                                .list-advantages__pic
                                    img(src="images/icons/advantages/item4.svg" alt="")
                                .item-advantages.item-advantages__content
                                    h3 > 20
                                    p профессиональных сотрудников

        //- employees
        .employees
            .container.employees__container
                .employees__gradient
                .employees__content
                    h2.employees__title.title-inner Наши сотрудники
                    p У нас работают специалисты, обладающие огромным опытом работы и постоянно получающие положительные отзывы и благодарности от клиентов.
            img(src="images/employees.jpg" alt="").employees__picture.container

        //- legal
        .legal 
            .container.legal__container
                .legal__gradient
                .legal__content
                    h2.legal__title.title-inner Юридическая информация
                    p У нас работают специалисты, обладающие огромным опытом работы и постоянно получающие положительные отзывы.
                    .legal__links 
                        a(href="/" download) Сертификат соотвествия что-то там 1.pdf 
                        a(href="/" download) Свидетельство аттестации на нормы 2.pdf 

        //- feedback
        include modules/feedback.pug

        include modules/footer.pug

        //- modal
        include modules/modal.pug
        
    include modules/script.pug