doctype html
html(lang="en")
    head
        include modules/head.pug
    body 

        .main-lines-wrapper.container 
            span 
            span 
            span 

        //- first-section
        .first-section.first-section--cart
            //- burger-menu
            include modules/burger-menu.pug
            //- header
            header.header#header
                .container 
                    .header__wrapper.wrapper-header 
                        include modules/main-menu.pug
                        a(href="tel:89107401708").wrapper-header__phone +7 (910) 740-17-08
                        button.wrapper-header__burger.burger 

            //- hero
            .hero 
                .container
                    h1.hero__title Грузовой эвакуатор
                    .hero__bottom 
                        p
                            a(href="/" style="visibility:hidden")
                                span Ремонт пневматических систем (WABCO)
                                img(src="images/icons/wabco-btn.svg" alt="")
                        p
                            a#modal-show-order
                                span Заказ эвакуаторов
                                img(src="images/icons/zakaz-btn.svg" alt="")

        //- about service
        .about-service 
            .container 
                .about-service__wrapper
                    h2.about-service__title.title-inner Об услуге
                    p.about-service__content.content-hidden ООО «АВТОТЕХСПЕЦРЕМОНТ» выполнит диагностику, монтаж, демонтаж и ремонт установки мультилифт на грузовом транспорте и спецтехнике, настройку приборов и проведение динамических испытаний.
                    .we-are__down#show-more
                        img(src="images/icons/arrow-down.svg" alt="")
                    h3 Услуги оказываются:
                    ul 
                        li 
                            p На собственной производственной площадке в г. Москва, Мытищи, Кропоткинский проезд 1с8
                        li 
                            p При выезде бригады на ваш объект. Располагаем мобильными мастерским, оснащенными для решения технических задач различной сложности

                    p.about-service__bottom-text Работаем по всем адресам Курска и Курской области.

            .about-service__gradient

        //- prices
        .prices
            .container 
                h2.prices__title.title-inner Цены
            .prices__table.container
                table
                    tr
                        td Автомобили легковые до 1500 кг
                        td от 1 300 ₽
                    tr
                        td Автомобили легковые более 1500 кг
                        td от 1 500 ₽
                    tr
                        td Эвакуация с заблокированными колесами (доплата за 1 колесо)
                        td от 300 ₽
                div
                    table(hidden)
                        tr
                            td Автомобили легковые до 1500 кг
                            td от 1 300 ₽
                        tr
                            td Автомобили легковые более 1500 кг
                            td от 1 500 ₽
                        tr
                            td Эвакуация с заблокированными колесами (доплата за 1 колесо)
                            td от 300 ₽

                    button.press-down
                        img(src="images/icons/arrow-down.svg" alt="")

        //- feedback
        include modules/feedback.pug

        //- footer
        include modules/footer.pug

        //- modal--order
        include modules/modal-order.pug

    include modules/script.pug